# STM32 build artifacts
Debug/
Release/
build/
*.o
*.d
*.elf
*.hex
*.bin
*.list
*.map
*.crf
*.axf
*.dep
*.iex
*.htm
*.lnp
*.sct
*.lst
JLinkLog.txt
JLinkSettings.ini

# IDE
.settings/
*.scvd
*.uvguix.*
*.dbgdt

# OS
.DS_Store
Thumbs.db
